.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 380px;
  border: 0px solid #ccc;
  overflow: hidden;
  padding: 10px;
}

.card-image {
  width: 100%;
  height: 280px;
  object-fit: cover;
  cursor: pointer;
}

.card-title {
  margin: 0px;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}

.card-description {
  margin: 10px;
  font-size: 12px;
  text-align: left;
  margin-top: 0px;
}

.card-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: rgb(0, 0, 0);
  border-top: 0.5px solid rgb(0, 0, 0);
  border-bottom: 0.5px solid rgb(0, 0, 0);
  height: 30px;
}

.card-date {
  font-size: 12px;
  margin-right: 0px;
}

.card-category {
  font-size: 12px;
  font-weight: 100;
}

.card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  width: 1020px;
  margin: 20px 0;
}

.card-container.smaller {
  width: 100px;
}
